<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    <title>Kuriakose Thomas</title>  
  </head>

  <body>

    <header>
      <div class="container">
        <h1>Kuriakose Thomas</h1>
        <p>This is all about me</p>



        </section>
      </div>
    </header>

  <div class="container">

      <!-- Introduction-->
      <section class="center">
        <h1>Welcome!</h1>
      <hr>
        <p>
          I am currently a Senior at Florida International University, pursuing my Bachalor degree in Information Technology
          concentrating on Software development and Network security. I have included my social handles to  
        </p>
        
        <p>
          <a href="https://www.instagram.com/kuriakosethomas/" target="_blank" class="btn btn-instagram"><span class="icon"></span>Instagram</a>
          <a href="https://www.snapchat.com/add/kuriakose18" target="_blank" class="btn btn-instagram"><span class="icon"></span>Snapchat</a>
          <a href="https://twitter.com/kuriakosethomaz" target="_blank" class="btn btn-twitter "><span class="icon"></span>Twitter</a>
          <a href="https://www.linkedin.com/in/kuriakose-thomas/" target="_blank" class="btn btn-linkedin "><span class="icon"></span>LinkedIn</a>
          <a href="https://github.com/kuriakosethomas" target="_blank" class="btn btn-github"><span class="icon"></span>Github</a>
          <a href="mailto:kuriakose18@gmail.com" target="_blank" class="btn btn-google"><span class="icon"></span>E-Mail</a>
          </p>
        
      </section>

      <hr>

    <!-- New container-->
    <div class="container">

      <section class="education">	
        <h2>Bachelor of Science in Information Technology from Florida International University.</h2>
      </section>

      <hr>

      <!--Experience Tables-->
      <section class="experience">
        <div class="row">
          <div class="grid-2">
            <h2>FLORIDA INTERNATIONAL UNIVERSITY GRAHAM CENTER</h2>
            <p>October 2018 – Present</p>
          </div>
          <div class="grid-4">
            <ul>
              <li>Currently developing a Network monitoring software</li>
              <li>Configuring and monitoring the network of 75 systems</li>
              <li>Troubleshoot issues in accurate and timely manner.</li>
              <li>Provided follow-up on resolved jobs to help ensure customer satisfaction</li>
              <li>Maintain disaster recovery procedures to ensure continuous availability and speedy recovery</li>
              <li>Convert data into actionable insights by predicting and modeling future outcomes./li>
              <li>Using MS SQL and Tableau for Data Analysis</li>
              <li>Assisted in monitoring issues, to determine appropriate actions necessary to eliminate future occurrences and improve service levels</li>
              <li>Performed installation and maintenance of standard applications</li>
              <li>Setting up and testing new database and datahandling systems</li>
            </ul>
          </div>
        </div>
        
        <div class="row">
          <div class="grid-2">
            <h2>MIAMI DADE COLLEGE</h2>
            <p>May 2017 - August 2017</p>
          </div>
          <div class="grid-4">
            <ul>
              <li>Data Analyzing and comparing in Microsoft Tools</li>
              <li>Doing regular backup of data</li>
            </ul>
          </div>
        </div>
        
      </section>

      <hr>

      <section>
        <!--List of skills-->
        <div class="row">
          <div class="grid-2">
            <h1>Skills</h1>
            <ul>
              <li>HTML</li>
              <li>CSS</li>
              <li>Javascript</li>
              <li>Angular.js</li>
              <li>Photoshop</li>
              <li>Git</li>
            </ul>
          </div>

          <div class="grid-4">
            <h1>In Conclusion</h1>
            <p>
              This is a good spot to highlight experiance and skills. Make sure to include a call to action like a link to your website, or your email address.
              If you find bugs, want features, or have questions, feel free to submit an <a href="https://github.com/philipcdavis/responsive-resume/issues">issue</a>. You are free to use without attribution.
              If you're ok sharing, I would love seeing what you make! Shoot me an
              <a href="mailto:kuriakose18@gmail.com?Subject=Resume" target="_top">email</a> or
              <a href="http://www.twitter.com/kuriakosethomaz">tweet</a> at me.
            </p>
          </div>
        </div>
      </section>

      <!--Footer-->
      <footer class="center">
        <hr>
        <span>&copy; Kuriakose Thomas 2k19</span>
      </footer>

    </div><!-- End Container -->

  </body>
</html>
